html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body {
	font-size: 12px;
	font-family: Tahoma, "MS Sans Serif";
	line-height: 1.5em;
	color: #3C3C3C;
	background-color: #EEE;
}

table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}

a:link, a:visited {
	color: #006699;
	text-decoration: none;
}

a:hover, a:active {
	color: #155BDB;
	text-decoration: underline;
}

div.clear { 
	clear: both; 
	display: block; 
	overflow: hidden; 
	visibility: hidden; 
	width: 0; 
	height: 0; 
}